
<h1>HBC's Customers#index</h1>
<p>Find me in app/views/designers/index.html.erb</p>

<table>
  <% @all_customer.each do |customer| %>
      <tr>
        <td>
          <%= customer.name %>
          <%= link_to customer_path(customer) %>
        </td>
      </tr>
  <% end  %>
</table>