
<h1>HBC's Customers</h1>

<br>
<div>
    <div class="customerGridBox">
          <%= image_tag("/logo_TXT.png") %>
    </div>
    <div class="box3">
      <br>
      <h2>TXT e-solution</h2>
    </div>
</div>

