
<h1>HBC's Customers</h1>

<br>

<p> In the last twenty years we have reached world-class successes, as testified by the great names of
  our customers.  </p>

<div class="customerGridBox">
          <%= image_tag("/customers/txt.png") %>
    </div>
    <div class="box3">
      <br><br><br>
      <h2>TXT e-solution</h2>
    </div>
<br><br><br><br><br><br><br><br><br><br>
<div class="customerGridBox">
    <%= image_tag("/customers/apple.jpg") %>
  </div>
  <div class="box3">
    <br><br><br>
    <h2>Apple</h2>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="customerGridBox">
  <%= image_tag("/customers/intesa.png") %>
</div>
<div class="box3">
  <br><br><br>
  <h2> Banca Intesa Sanpaolo</h2>
</div>
<br><br><br><br><br><br><br><br><br><br>
<div class="customerGridBox">
  <%= image_tag("/customers/d&g.jpg") %>
</div>
<div class="box3">
  <br><br><br>
  <h2> Dolce & Gabbana</h2>
</div>
<br><br><br><br><br><br><br><br><br><br>