<h1>Contacts</h1>

<div class="mainEventImg">
<%= image_tag("/map.png") %>
</div>


<br>
<hr style="clear:both;"/>
<h3> HBC Offices </h3>


<p>
  HBC is present with offices and flag-ship stores in USA, Canada, Italy, France, Germany, UK, Australia, Cina, and Russia
  (and serves through retailer shops a large part of the rest of the world, see <%=link_to 'Shops', shopfinders_path %> to find the nearest shop)
</p>

<p>
  Milan (World Headquarter) <br>
  Via De Amicis, 37         <br>
  20149                     <br>
  e-mail: info@mail.hbc.it  <br>
  telephone: 02/33112233    <br>
</p>

<p>
  New York (North-America Headquarter)    <br>
  1681 BroadWay                           <br>
  10019                                   <br>
  e-mail: info.northamerica@mail.hbc.it   <br>
  telephone: 0143/1298345                 <br>
</p>

<p>
  Shanghai (Asia Headquarter)       <br>
  Tian'anmen, 54                    <br>
  12003                             <br>
  e-mail: info.asia@mail.hbc.it     <br>
  telephone: 01/6572975             <br>
</p>


