<h1>HBC Design</h1>
<h6>"Design is not just what it looks like and feels like. Design is how it works" (Steve Jobs)</h6>

<body>

<p>
<div class="mainEventImg">
Milan HeadQuarter
<%= image_tag("/milanHQ2.jpg") %>
</div>
<p>

<br>

<h3> Vision </h3>

<p>
Taking a concept dear to our great masters of Bauhaus
we strongly believe design objects may not be necessarily intended for an elite 
but should be accessible to everyone.  <br>
</p>

<p>
HBC Design takes its name from matteo Hessel, andrea Buzzoni, chiara Calabrese    <br>
and is born from their vision of making the experience of sophisticated design available to the mass.  <br>
In the last ten years we have reached world-class successes
and our products are available from North-America to Australia  
in Retail shops, Flagship stores and Show-rooms  <br>
</p>
<p>
The company made a dual choice. On the one hand, to maintain sophisticated craftsmanship in-house, as regards material know-how, careful finishes and product 
customisation. On the other, the company has always developed its research on the terrain of technological research, with the ongoing experimentation 
of innovatory solutions. Molteni furniture incorporates the expertise of a long craft tradition plus innovatory technological quality, 
which facilitates the life of the user but is in no way ostentatious. When talking about HBC, people also speak of hidden quality, 
alluding to the technical, functional and material quality present but often unseen in its furniture. HBC quality is well known in Italy 
where the group is based, but also internationally, because the company exports to the leading world markets.
All the designers that work with HBC are highly individual but agree on the fact that furniture must be elegant and comfortable, but also 
sturdy and incorporate attention to detail and be produced from fine woods and carefully checked materials. 
This is furniture that, apart from the individual charm of each piece, offers a possibility to define - with a wealth of choices but a single good taste - 
the lifestyle in the HBC home . 
</p>

</body>
