<h1><%= @title %> </h1>
<br>
<div class="gridList">
  <% @products.each do |product| %>
       <div class="gridBox">
       <%= product.name %>
          <%= link_to :action=>'show',:id=>product.id,:title=>@title do%>
              <%= image_tag("/products/#{product.image_url}") %>
          <% end %>
          </div>
  <% end  %>
</div>


