<div class="structuralLinks" xmlns="http://www.w3.org/1999/html">
  <h4 style="position:absolute; right:50px;"><%= link_to 'Description', product_path(@product) %>  &nbsp; Photo-gallery  &nbsp; <%= link_to 'Datasheet', datasheet_product_path(@product) %></h4>
</div>

<br>

<div>
  <hr style="clear:both;"/>
  <br>

    <div class="gridList">
      <% @images.each do |image| %>
          <div class="gridBox" class="flex">

            <script src="/hbc-progetto-hypermedia-applications/app/assets/javascripts/jquery-1.10.2.min.js"></script>
            <script src="/hbc-progetto-hypermedia-applications/app/assets/javascripts/lightbox-2.6.min.js"></script>

            <%= link_to image_tag("/products/#{image.image_url}"), "/products/#{image.image_url}", :rel => "lightbox" %>


          </div>
      <% end  %>
    </div>
</div>