<h1>HBC Design</h1>
<h6>"Design is not just what it looks like and feels like. Design is how it works" (Steve Jobs)</h6>

<body>


<div class="mainEventImg">
Milan HeadQuarter
<%= image_tag("/milanHQ2.jpg") %>
</div>


<hr style="clear:both;"/>
<h3> Vision </h3>
<p>
Taking a concept dear to our great masters of Bauhaus
we strongly believe design objects may not be necessarily intended for an elite 
but should be accessible to everyone.  <br>
</p>
<p>
The company made a dual choice. On the one hand, to maintain sophisticated craftsmanship in-house, as regards material know-how, careful finishes and product 
customisation. On the other, the company has always developed its research on the terrain of technological research, with the ongoing experimentation 
of innovatory solutions. HBC Design furniture incorporates the expertise of a long craft tradition plus innovatory technological quality,
which facilitates the life of the user but is in no way ostentatious. When talking about HBC, people also speak of hidden quality, 
alluding to the technical, functional and material quality present but often unseen in its furniture. HBC quality is well known in Italy 
where the group is based, but also internationally, because the company exports to the leading world markets.
All the designers that work with HBC are highly individual but agree on the fact that furniture must be elegant and comfortable, but also 
sturdy and incorporate attention to detail and be produced from fine woods and carefully checked materials. 
This is furniture that, apart from the individual charm of each piece, offers a possibility to define - with a wealth of choices but a single good taste - 
the lifestyle in the HBC home.
</p>

<hr style="clear:both;"/>
<h3> History </h3>
<p>
  HBC Design takes its name from matteo Hessel, andrea Buzzoni, chiara Calabrese and is born <br>
  in 1981 from their vision of making the experience of sophisticated design available to the mass.  <br>
</p>

<p>
  HBC Design has been producing furniture for over 30 years. Vast experience built up over time,
  responding to the tastes and trends of almost three generations of consumers. From a small
  workshop the company has grown to major industrial status, pursuing its growth aims through
  all the necessary stages with toughness and determination with absolute respect for the public
  at large, and in harmony with the needs of its surrounding area.
  Its history - a crescendo of initiatives reflecting its ability to adapt innovatively to changes
  in taste, lifestyle and the market and the advent of each wave of new technologies - is a
  striking example of corporate growth, nowadays taken as the benchmark model for the entire industry.  <br><br>
  &nbsp;
  1981-1989: initially a small workshop, HBC Design launches its business in Milan in 1981 with a small
  range of fitted living rooms, which immediately prove very popular. This is the start of the great
  adventure of the college mates Matteo Hessel, Andrea Buzzoni and Chiara Calabrese who, encouraged
  by their initial success, expand their premises and make innovations that help their business to grow quickly.  <br><br>
  &nbsp;
  1990-2002: Expanding output requires major changes: HBC Design consolidates its distribution network and
  reinforces its sales network, adopts more and more leading-edge technologies, and starts to work with
  specialist designers for the first time. The aim: to come up with the best solutions and offer the best services.
  The company's turnover and visibility increase: 1991 is the year of its first nation-wide advertising campaign. <br><br>
  &nbsp;
  2003-2013: in the last ten years we have reached world-class successes, as testified by the great names of
  our <%= link_to 'customers', all_customers_path %>. Now our products are available from North-America to Australia in Retail shops, Flagship stores and Show-rooms.
</p>

</body>
