<h1>HBC Design</h1>
<h6>"Design is not just what it looks like and feels like. Design is how it works" (Steve Jobs)</h6>

<br>

<body>

<p>
Taking a concept dear to our great masters of Bauhaus <br>
we strongly believe design objects may not be necessarily intended for an elite  <br>
but should be accessible to everyone.  <br>
</p>

<p>
HBC Design takes its name from matteo Hessel, andrea Buzzoni, chiara Calabrese    <br>
and is born from their vision of making the experience of sophisticated design available to the mass.  <br>
</p>

<p>
In the last ten years we have reached world-class successes <br>
and our products are available from North-America to Australia    <br>
in Retail shops, Flagship stores and Show-rooms  <br>
and we participate to the major furniture expositions in the world <br>
(e.g Milan's Design Week, Tokyo Furniture Fair, ...) <br>
</p>

</body>
