<h1><%= @title %> designers</h1>

<table>
  <% @designers.each do |designer| %>
      <tr>
        <td>
          <%= designer.name %>
          <%= link_to designer_path(designer) do%>
              <%= image_tag("/designers/#{designer.image_url}") %>
          <% end %>
        </td>
      </tr>
  <% end  %>
</table>
<p>Find me in app/views/designers/index.html.erb</p>