<h1>Product Types</h1>
<br>
<div class="gridList">
  <% @product_types.each do |product_type| %>
      <div class="gridBox">
        &nbsp; <%= product_type.name %>
        <%=link_to products_path(:product_type_id => product_type.id) do%>
            <%= image_tag("/product_types/#{product_type.image_url}") %>
        <% end %>
      </div>
  <% end  %>
</div>





