* {
	margin: 0;
	padding: 0;
}

a {
	color: #ffffff;
	text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

body {
  font-size: 12pt;
  line-height: 1.75em;
  font-family: Trebuchet, sans-serif;
  color: #414141;
  background: #5f5f5f;
  background: #030707 url('/bg.jpg');
}

br.clear {
	clear: both;
}

h2,h3,h4,h6,h7 {
	margin-bottom: 1em;
	font-family: Trebuchet, sans-serif;
	color: #ffffff;
}

h1 span{
  font-size: 0.3em;
}

p {
	margin-bottom: 1.5em;
}

img {
  width: 100%;
}

img.left {
  float: left;
  margin: 5px 20px 20px 0;
}

img.top {
  margin: 5px 0 20px 0;
}

img.flex{
  max-width: 100%;
  max-height: 100%;
}

p {
  margin-bottom: 1.5em;
}


ul {img {
  width: 100%;
}

  margin-bottom: 1.5em;
}

#bg {
  background: url('/shadow.png') top left repeat-x;
  padding: 30px 0 80px 0;
}


#outer {
  position: relative;
  width: 1200px;
  height:600px;
  margin: 0 auto;
}

#backLink {
  position: absolute;
  top: 35px;
  right: 150px;
  width: 20px;
  height: 90px;
  font-family: Trebuchet, sans-serif;
}

#backLinkProduct {
  position: absolute;
  top: 100px;
  right: 150px;
  width: 20px;
  height: 90px;
  font-family: Trebuchet, sans-serif;
}



#button1 {
	position: absolute;
	top: 100px;
	right: 35px;
	}

#content {
	position: absolute;
	top: 0px;
	left: 15px;
	width: 820px;
	min-height:  400px;
	margin: 0px 0px 200px 265px;
	padding: 40px;
	border-left: double;
	border-top: double;
    	link: #ffffff;
	color: whitesmoke;

box-shadow:-13px -13px 25px 0px rgba(100, 126, 126, 0.40);


}

#header {
	position: relative;
	padding: 20px;
	height: 80px;
	width: 1200px;
}

#logo {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 300px;
	width: 300px;
	line-height: 80px;
	letter-spacing: -1px;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

#logo h1 {
	font-size: 2.75em;
	font-family: Trebuchet, sans-serif;
}

#main {
	position: absolute;
	padding: 0px;
	margin: 10px 0 0px 0px;
	width: 1200px;
}

#main a {
	color: #ffffff;
}


#main ul {
	list-style: none;
}

#main ul li {
	padding: 10px 0 10px 0;
	border-top: dashed 1px #bfbfbf;
}

#nav {
	position: absolute;
	left: 300px;
	height: 20px;
	top: 40px;
	font-family: Trebuchet, sans-serif;
	font-size: 0.96em;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
	margin: 0 0.5em 0 0.5em;
	padding: 0.25em 1.1em 0.25em 1.1em;
}

#nav li a {
  float: left;
  margin: 0 0.5em 0 0.5em;
  padding: 0.25em 1.1em 0.25em 1.1em;
  text-decoration: none;
  color: #fefefe;
}


#nav a:hover{
  background: #3ca9cd;
  color: #000000;
}

#nav a:active{
  background:#3ca9cd;
  color: #000000;
}


#sidebar {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 180px;
  float: left;
  padding: 0px;
  color: #959797;
}

#sidebar a {
	color: #d9dada;
}

#sidebar h2, #sidebar h3, #sidebar h4 {
	color: #d9dada;
}

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
	padding: 10px 0 10px 0;
	border-top: dashed 1px #424545;
}

#sidebar ul li.first {
	padding-top: 0;
	border-top: 0;
}

h3.tit{
color:#d9dada;
}

div.gridList {
  color: #d9dada;
  font-family: Trebuchet, sans-serif;
}


.gridBox{
  width:350px;
  height:220px;
  border:0px none;
  margin:20px 20px 0px 0;
  overflow:hidden;
  position:relative;
  float:left;
  color: #d9dada;
  background: #575757;

}

div.mainEventImg {
  width:590px;
  height:380px;
  border:0px none;
  margin:50px 30px 20px 0;
  float:center;
  background: #222222;
}

div.mainProductImg {
  width:443px;
  height:286px;
  border:0px none;
  margin:0px 0px 0px 0;
  float:center;
  background: #222222;
}

div.ProductHeader {
  width:350px;
  height:286px;
  border:0px none;
  padding: 10px;
  float:right;
}

div.box1{
  width: 420px;
  border:0px none;
  float:left;
  text-align: justify;
}
div.box2{
  width: 360px;
  border:20px none;
  float:right;
}

div.flash_notice {
  background: #cbfff0;
  color: #000000;
}

#footer {
  position: relative;
  padding: 30px;
  width: 1120px;
  background: #3ca9cd;
  color: #addbea;
}


#footer a {
  color: #e2f2f8;
}

#footer h2, #footer h3, #footer h4 {
  color: #ffffff;
}

#footer ul {
  list-style: none;
  margin-bottom: 0;
}

#footer p {
  margin-bottom: 0;
}

#footer ul li {
  padding: 10px 0 10px 0;
  border-top: dashed 1px #6dbfda;
}

#footer ul li.first {
  padding-top: 0;
  border-top: 0;
}

#footerContent {
  width: 855px;
  margin: 0px 0 0 265px;
}

#footerSidebar {
  width: 180px;
  float: left;
}

