* {
	margin: 0;
	padding: 0;
}

a {
	color: #ffffff;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 12pt;
	line-height: 1.75em;
	font-family: Arial, sans-serif;
	background: #030707 url('/bg.jpg');
	color: #c0c1c1;	

}

br.clear {
	clear: both;
}

h2,h3,h4,h6,h7 {
	margin-bottom: 1em;
	font-family: Arvo, serif;
	color: #ffffff;
}

p {
	margin-bottom: 1.5em;
}


img {
  width: 100%;
}

img.left {
  float: left;
  margin: 5px 20px 20px 0;
}

img.top {
  margin: 5px 0 20px 0;
}

img.flex{
  max-width: 100%;
  max-height: 100%;
}

p {
  margin-bottom: 1.5em;
}


ul {img {
  width: 100%;
}

  margin-bottom: 1.5em;
}
	
#bg {

padding: 60px 0 80px 0;
}

#backLink {
  position: absolute;
  top: 50px;
  right: 150px;
  width: 20px;
}


#sidebar {
   
    color: #000;
    margin: 20px auto;
    overflow: hidden;
    padding: 100px;
    position: relative;
    width: 800px;

}

#button1 {
	position: absolute;
	top: 100px;
	right: 35px;
	}

#content {
	position: absolute;
	top: 0px;
	left: 15px;
	width: 820px;
	min-height:  320px;
	margin: 0px 0 0 265px;
	padding: 40px;
	border-left: double;
	border-top: double;
    	link: #ffffff;
	color: white;

box-shadow:-13px -13px 25px 0px rgba(100, 126, 126, 0.40);


}

#header {
	position: relative;
	padding: 30px;
	height: 80px;
	width: 1120px;
}

#logo {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 280px;
	width: 280px;
	line-height: 80px;
	letter-spacing: -1px;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

#logo h1 {
	font-size: 2.75em;
	font-family: Arvo, serif;
}

#main {
	position: relative;
	padding: 0px;
	margin: 30px 0 0 0;
	width: 1180px;
}

#main a {
	color: #ffffff;
}

#main strong {
	color: #404040;
}

#main h2{
	color: #141414;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 10px 0 10px 0;
	border-top: dashed 1px #bfbfbf;
}

#nav {
	position: absolute;
	left: 300px;
	height: 48px;
	top: 55px;
	font-family: Arvo, serif;
	font-size: 0.96em;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
	margin: 0 0.5em 0 0.5em;
	padding: 0.25em 1.1em 0.25em 1.1em;
}

#nav li a {
  float: left;
  margin: 0 0.5em 0 0.5em;
  padding: 0.25em 1.1em 0.25em 1.1em;
  text-decoration: none;
  color: #d9dada;
}


#nav a:hover{
  background: #3ca9cd;
  color: #000000;
}

#nav a:active{
  background: #3ca9cd;
  color: #424545;
}

	
#outer {
	position: relative;
	width: 1180px;
	margin: 0 auto;
}

#sidebar {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 180px;
	float: left;
	padding: 30px;
	color: #959797;
}

#sidebar a {
	color: #d9dada;
}

#sidebar h2, #sidebar h3, #sidebar h4 {
	color: #ffffff;
}

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
	padding: 10px 0 10px 0;
	border-top: dashed 1px #424545;
}

#sidebar ul li.first {
	padding-top: 0;
	border-top: 0;
}

h3.tit{
color:#ffffff;
}

div.gridList {
  color: #d9dada;
  font-family: Georgia, "consolas", Times, serif;
}


.gridBox{
  width:350px;
  height:220px;
  border:0px none;
  margin:50px 60px 20px 0;
  overflow:hidden;
  position:relative;
  float:left;
  color: #ffffff;
  background: #575757;

}

div.mainEventImg {
  width:590px;
  height:380px;
  border:0px none;
  margin:50px 30px 20px 0;
  float:center;
  background: #222222;
}


