<h1><%= @designer.name%>'s products</h1>

<div class="gridList">
  <% @products.each do |product| %>
      <div class="gridBox">
        <%= product.name %>
        <%= link_to product_path(product) do%>
            <%= image_tag("/products/#{product.image_url}") %>
        <% end %>
      </div>
  <% end  %>
</div>