ul#container {
    display: block;
    height: 400px;
    margin: 0;
    padding: 60px;
    width: 180px;
  font-family: Trebuchet, sans-serif;
}

ul#containeradmin {
  display: block;
  height: 400px;
  margin: 0;
  padding: 60px;
  width: 210px;
  font-family: Trebuchet, sans-serif;
}

ul#container li {
    background-color:transparent;
    display: block;
    height: 30px;
    line-height: 60px;
    margin-bottom: 10px;
    overflow: hidden;
}

ul#container li#container_products{
  height: 160px;
}

ul#container li#container_without_sublist {
  height: 50px;
}
ul#container li#container_designers {
  height: 100px;
}

ul#container a {
    border-style: none;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 30px;
    margin-top: 100px;
    padding-left: 18px;
    text-align: left;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFFFF;
    vertical-align: middle;
}
ul#container a:hover {
    text-decoration: underline;
}
ul#container li a:first-child {
    display: block;
    float: none;
    line-height: 60px;
    margin-top: 0;
}
ul#container li:hover a:first-child {
    line-height: 60px;
}
ul#container li a {
    margin-top: 0;
}